# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.lock
.vs/ConsoleApplication2/FileContentIndex/ea9b0c80-8e70-4bbc-aa35-a6337fd79614.vsidx
.vs/ConsoleApplication2/FileContentIndex/e9e23383-9cf8-4824-8f01-cac145940b00.vsidx
.vs/ConsoleApplication2/FileContentIndex/77fcccc8-dc51-439f-a116-03d2bf396219.vsidx
.vs/ConsoleApplication2/FileContentIndex/310c44bd-037a-4d3e-bb59-bbaa3ce2ccd1.vsidx
.vs/Console_PathFinding/v17/ipch/AutoPCH/faab2e5426e7feb8/CONSOLE_PATHFINDING.ipch
.vs/Console_PathFinding/v17/ipch/AutoPCH/20eb8f099dca0c84/CONSOLE_PATHFINDING.ipch
.vs/Console_PathFinding/v17/.suo
.vs/Console_PathFinding/FileContentIndex/ddfadec9-9250-4126-8d79-2eea23a98f59.vsidx
.vs/Console_PathFinding/FileContentIndex/787ef4af-f310-4d7c-9b2f-3cb52b328f05.vsidx
*.idb
*.pdb
*.log
*.ilk
*.tlog
*.recipe
.vs/Console_PathFinding/v17/Browse.VC.opendb
*.vsidx
*.db-shm
*.db-wal
ConsoleApplication2/bench.txt
